.bracket {
  color: #cc844b;
}

.op {
  color: #55b0be;
}

.kwrd {
  color: #7a6ad8;
}

.ident {
  color: #da5b4f;
}

.num {
  color: #cc8a4f;
}

.unknown {
  color: #abb2bf;
}

.string {
  color: #91ba75;
}

.comment {
  color: #39577C;
}
